<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="x-ua-compatible" content="IE=edge"></meta>
    <title>江苏国泰新点软件有限公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="css/styles.css"></link>
    <script src="js/jquery-1.12.4.min.js"></script>
</head>
<body>

<input type="button" value="新增svn地址" style="height: 35;width: 100;" onclick="show()"/>
<h1>Directory:
    /</h1>
<table id="list" class="list">
    <thead>
    <tr>
        <th style="width:55%"><a href="?C=N&amp;O=A">File Name</a>&nbsp;<a href="?C=N&amp;O=D">&nbsp;&darr;&nbsp;</a>
        </th>
        <th style="width:20%"><a href="?C=S&amp;O=A">File Size</a>&nbsp;<a href="?C=S&amp;O=D">&nbsp;&darr;&nbsp;</a>
        </th>
        <th style="width:25%"><a href="?C=M&amp;O=A">Date</a>&nbsp;<a href="?C=M&amp;O=D">&nbsp;&darr;&nbsp;</a></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="js/addNginxFancyIndexForm.js"></script>
<script>
    function fun() {
        var value = "56";
        var params = "";
        if (window.location.href.indexOf('?') > 0)
            params = window.location.href.slice(window.location.href.indexOf('?') + 1)
        $.ajax({
            url: "listdir",
            type: 'get',
            data: {"value": value, "path": params},
            contentType: 'application/json',
            dataType: 'json',
            success: function success(response) {
                for (var i = 0; i < response.length; i++) {
                    var href = response[i].href
                    if (response[i].filesize != "-")
                        href += "?t=" + Math.random()
                    var trHTML = "<tr><td class=\"link\"><a href='" + "" + href + "'>" + response[i].filename + "</a></td><td class=\"size\">" + response[i].filesize + "</td><td class=\"date\">" + response[i].filedate + "</td></tr>"
                    $(".list").append(trHTML)
                }
            },
            error: function error(_error) {
                alert(_error);
            }
        });
    }

    fun();

    function show() {
        var obj = window.open("svn", window, "status:false;dialogWidth:" + 500 + "px;dialogHeight:" + 80 + "px;scrollbar=no;help: no;resizable:no;status:no;");
    }
</script>
</body>
